RadioCarouselItem
{
    layout: default;
}

RadioCarouselItem::star_button
{
    top: -var(hb-param-margin-gene-top);
    left: -var(hb-param-margin-gene-left);
    pref-width: 6un;
    pref-height: 6un;
    size-policy-horizontal: fixed;
    size-policy-vertical: fixed;
}

RadioCarouselItem::genre_label
{
    top: -var(hb-param-margin-gene-top);
    left: -var(hb-param-margin-gene-middle-horizontal);
    right: expr(6un + var(hb-param-margin-gene-middle-horizontal));
    pref-height: 6un;
    size-policy-vertical: fixed;
    size-policy-horizontal: expanding;
}

RadioCarouselItem::genre_label::text
{
    color: var(qtc_lcd_title_normal);
    text-height: var(hb-param-text-height-primary);
    font-variant: primary;
    text-align: center center;
}

RadioCarouselItem::name_label
{
    left: -var(hb-param-margin-gene-left);
    right: var(hb-param-margin-gene-right);
    bottom: var(hb-param-margin-gene-middle-vertical);
    size-policy-vertical: fixed;
    size-policy-horizontal: expanding;
}

RadioCarouselItem[appearance=Full]::name_label
{
    pref-height: 8un;
    top: -var(hb-param-margin-gene-middle-vertical);
}

RadioCarouselItem[appearance!=Full]::name_label
{
    pref-height: 12un;
    top: -4un;
}

RadioCarouselItem::name_label::text
{
    color: var(qtc_lcd_title_normal);
    font-variant: title;
    text-align: center center;
}

RadioCarouselItem[appearance=Full]::name_label::text
{
    text-height: 8un;
}

RadioCarouselItem[appearance!=Full]::name_label::text
{
    text-height: 12un;
}

RadioCarouselItem::rt_label
{
    top: -var(hb-param-margin-gene-middle-vertical);
    left: -var(hb-param-margin-gene-left);
    right: var(hb-param-margin-gene-right);
    bottom: var(hb-param-margin-middle-vertical);
    size-policy-vertical: expanding;
}

RadioCarouselItem::rt_label::text
{
    color: var(qtc_lcd_title_normal);
    text-line-count-min: 1;
    font-variant: secondary;
    text-align: center center;
}

RadioCarouselItem[appearance=Full]::rt_label::text
{
    text-line-count-max: 4;
    text-wrap-mode: word-wrap;
    text-height: var(hb-param-text-height-secondary);
}

RadioCarouselItem[appearance!=Full]::rt_label::text
{
    text-line-count-max: 1;
    text-wrap-mode: no-wrap;
    text-height: 5un;
}

RadioCarouselItem::url_label
{
    left: -var(hb-param-margin-gene-left);
    right: var(hb-param-margin-gene-right);
    bottom: var(hb-param-margin-gene-bottom);
}

RadioCarouselItem::url_label::text
{
    color: var(qtc_lcd_title_normal);
    text-height: var(hb-param-text-height-secondary);
    font-variant: secondary;
    text-align: center center;
}

RadioCarouselItem::favorite_touch_area
{
    top: 0un;
    left: 0un;
    right: -8un;
    bottom: -4un;
}
